<table class="spacer">
  <tbody>
    <tr>
      <td height="150px" style="font-size:150px;line-height:150px;">&#xA0;</td>
    </tr>
  </tbody>
</table>

<h2 class="text-center">Welcome to PinIt, {{firstName}} !!!</h2>
<p class="text-center">Please verify your email address to complete setting up your Pin It account.</p>

<table class="spacer">
  <tbody>
    <tr>
      <td height="30px" style="font-size:30px;line-height:30px;">&#xA0;</td>
    </tr>
  </tbody>
</table>

<table class="button">
    <tr>
        <td>
            <table>
                <tr>
                    <td><a href="{{verifyUrl}}" class="">Verify Email</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="spacer">
  <tbody>
    <tr>
      <td height="150px" style="font-size:150px;line-height:150px;">&#xA0;</td>
    </tr>
  </tbody>
</table>
